# {{ ansible_managed }}

[sssd]
config_file_version = 2
services = nss, pam
domains = ldap, waldur

[domain/ldap]
id_provider = ldap
access_provider = ldap
auth_provider = ldap
chpass_provider = ldap

ldap_search_base = dc=citc,dc=acrc,dc=bristol,dc=ac,dc=uk
ldap_uri = ldap://{{ ldap_hostname }}
ldap_access_filter = (objectClass=posixAccount)
ldap_user_gecos = displayName
ldap_default_bind_dn = cn=Directory Manager
ldap_default_authtok = {{ ldap_dm_password if ldap_dm_password is defined else ansible_local.citc.ldap_dm_password }}
ldap_tls_cacert = /etc/pki/ca-trust/source/anchors/389-ds-cert.crt

ldap_id_use_start_tls = True

cache_credentials = true

[domain/waldur]
id_provider = ldap
auth_provider = ldap
access_provider = ldap

ldap_search_base = dc=glauth,dc=com
ldap_uri = ldap://{{ glauth_hostname }}:3893
ldap_access_filter = (memberOf=dc=glauth,dc=com)
ldap_default_bind_dn = cn=admin,dc=glauth,dc=com
ldap_default_authtok = {{ glauth_dm_password if glauth_dm_password is defined else ansible_local.citc.glauth_dm_password }}
ldap_default_authtok_type = password
ldap_use_tokengroups = False
ldap_tls_cacert = /etc/ssl/certs/auth-yourcert.crt
sudo_provider = none
ldap_group_member = member
ldap_schema = rfc2307bis
ldap_access_order = filter
ldap_user_name = preferredUsername
